.header {
  font-size: $font-size; // for header's elements resizing
  @include flex(flex-end, center);
  width: 100%;
  height: em(70);
  @include container(1160px, 20px);
  background: $color-main;
  border-bottom: 1px solid $color-text;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  @include tablet-up {
    font-size: 11px; // for header's elements resizing
    height: em(155);
    background: transparent;
    border: none;
    position: static;
  }

  @include laptop-up {
    font-size: $font-size; // for header's elements resizing
  }
}

// ***************************************************
// Logo
// ***************************************************

.logo {
  font-size: 20px; // for logo resizing
  font-family: "Varela Round", sans-serif;
  font-weight: 500;
  letter-spacing: em(-0.7);
  line-height: 0.8;
  color: $color-text;
  margin: 0 auto 0 0;

  @include tablet-up {
    font-size: em(40); // for logo resizing
    transform: translateY(em(5));
  }

  @include laptop-up {
    font-size: em(51); // for logo resizing
  }
}

.logo__subtitle {
  font-size: em(8.8);
}

// *****************************************************
// Hamburger
// ******************************************************

.hamburger {
  font-size: em(30);
  background: none;
  border: none;
  color: $color-text;

  @include tablet-up {
    display: none;
  }
}

// ******************************************************
// Social media links
// ******************************************************

.s-media {
  display: none;

  @include tablet-up {
    @include flex(space-between);
    width: em(118);
    margin-right: em(57);
  }
}

.s-media__link {
  font-size: em(21);
  color: $color-text;
  transition: color 0.2s ease;

  &:hover {
    color: $color-active;
  }
}

//*******************************************************
// Navigation
//*******************************************************

.navigation {
  width: 100%;
  height: em(400);
  position: absolute;
  right: 0;
  top: em(70);
  background-color: $color-active;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 1s ease;

  @include tablet-up {
    height: auto;
    width: em(600);
    position: static;
    background-color: transparent;
    transform: translateX(0);
    opacity: 1;
  }
}

.navigation--active {
  transform: translateX(0);
  opacity: 1;
}

.navigation__list {
  height: 100%;
  @include flex(space-evenly, center, column);

  @include tablet-up {
    flex-direction: row;
    justify-content: space-between;
  }
}

.navigation__link {
  font-size: em(20);
  font-weight: 600;
  text-transform: uppercase;
  color: $color-text;
  transition: color 0.2s ease;

  &:hover {
    color: $color-active;
  }
}
