html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.ie-message {
  display: none;
}

.ie-message--active {
  display: block;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6bc1ff;
  margin: 0;
  padding: 300px 100px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.header {
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 4.375em;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  background: #5969f6;
  border-bottom: 1px solid #ffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
@media (min-width: 720px) {
  .header {
    font-size: 11px;
    height: 9.6875em;
    background: transparent;
    border: none;
    position: static;
  }
}
@media (min-width: 1150px) {
  .header {
    font-size: 16px;
  }
}

.logo {
  font-size: 20px;
  font-family: "Varela Round", sans-serif;
  font-weight: 500;
  letter-spacing: -0.04375em;
  line-height: 0.8;
  color: #ffff;
  margin: 0 auto 0 0;
}
@media (min-width: 720px) {
  .logo {
    font-size: 2.5em;
    transform: translateY(0.3125em);
  }
}
@media (min-width: 1150px) {
  .logo {
    font-size: 3.1875em;
  }
}

.logo__subtitle {
  font-size: 0.55em;
}

.hamburger {
  font-size: 1.875em;
  background: none;
  border: none;
  color: #ffff;
}
@media (min-width: 720px) {
  .hamburger {
    display: none;
  }
}

.s-media {
  display: none;
}
@media (min-width: 720px) {
  .s-media {
    display: flex;
    justify-content: space-between;
    width: 7.375em;
    margin-right: 3.5625em;
  }
}

.s-media__link {
  font-size: 1.3125em;
  color: #ffff;
  transition: color 0.2s ease;
}
.s-media__link:hover {
  color: #6bc1ff;
}

.navigation {
  width: 100%;
  height: 25em;
  position: absolute;
  right: 0;
  top: 4.375em;
  background-color: #6bc1ff;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 1s ease;
}
@media (min-width: 720px) {
  .navigation {
    height: auto;
    width: 37.5em;
    position: static;
    background-color: transparent;
    transform: translateX(0);
    opacity: 1;
  }
}

.navigation--active {
  transform: translateX(0);
  opacity: 1;
}

.navigation__list {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 720px) {
  .navigation__list {
    flex-direction: row;
    justify-content: space-between;
  }
}

.navigation__link {
  font-size: 1.25em;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffff;
  transition: color 0.2s ease;
}
.navigation__link:hover {
  color: #6bc1ff;
}

.card {
  font-size: 3vw;
  max-width: 31.875em;
  margin: 0;
  color: #ffff;
}
@media (min-width: 720px) {
  .card {
    font-size: 16px;
  }
}

.card__header,
.card__text {
  margin: 0;
}

.card__header {
  font-size: 3.4375em;
  letter-spacing: -0.0375em;
  padding-bottom: 0.1875em;
}

.card__text {
  font-size: 1.25em;
}

.card__decoration {
  width: 45%;
  height: 9px;
  margin-top: 2.5em;
  border-radius: 5px;
  background-color: #5969f6;
}

.card--right-alignment {
  text-align: right;
}
.card--right-alignment .card__decoration {
  transform: translateX(124%);
}

.card__header--h3 {
  font-size: 1.875em;
  padding-bottom: 0.5625em;
}

.card--text-dark {
  color: #333333;
}

.btn {
  display: block;
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: bold;
  color: #ffff;
  background-color: transparent;
  border: 1px solid #ffff;
  border-radius: 1.25em;
  padding: 0.6875em 1.25em;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #6bc1ff;
}

.btn--light,
.btn--color {
  transition: background-color 0.3s ease, color 0.3 ease;
  border: none;
}

.btn--light {
  background-color: #f5f5f5;
  color: #333333;
}
.btn--light:hover {
  background-color: #5969f6;
  color: #ffff;
}

.btn--color {
  background-color: #5969f6;
  color: #333333 #ffff;
}
.btn--color:hover {
  background-color: #f5f5f5;
  color: #333333;
}

.btn--round {
  font-size: 1rem;
  width: 1em;
  height: 1em;
  border: none;
  border-radius: 1em;
  background: #6bc1ff;
  background-image: url("/send-message-arrow.d048adbf.svg");
  background-repeat: no-repeat;
  background-size: 0.375em;
  background-position: calc(50% - -0.0625em);
  position: relative;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
@media (min-width: 720px) {
  .btn--round:hover, .btn--round:focus {
    outline: none;
    transform: scale(1.06);
    background-color: #8fd0ff;
  }
}

.project {
  position: relative;
  height: 75vw;
  margin: 40px 0;
}
@media (min-width: 720px) {
  .project {
    height: auto;
    width: auto;
    margin: 0;
  }
}

.project__link {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
  overflow: hidden;
}
@media (min-width: 1150px) {
  .project__link {
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .project__link:hover {
    background: rgba(7, 13, 62, 0.4);
    opacity: 1;
  }
}

.project__icons {
  display: flex;
  justify-content: space-between;
  font-size: 6vw;
  color: #ffff;
  width: 2.5em;
  position: absolute;
  right: 0.625em;
  bottom: 20vw;
}
@media (min-width: 720px) {
  .project__icons {
    font-size: 1.5625em;
    bottom: 2.4375em;
  }
}
@media (min-width: 1150px) {
  .project__icons {
    position: static;
    font-size: 1.875em;
    margin: 0.5625em 0 0 0.4375em;
  }
}

.project__card {
  align-self: flex-end;
  background-color: rgba(7, 13, 62, 0.4);
  padding: 1vw 4vw 4vw 4vw;
}
@media (min-width: 720px) {
  .project__card {
    font-size: 0.7vw;
    max-width: initial;
    width: 100%;
    min-height: 8vw;
    padding: 0.8vw;
  }
}
@media (min-width: 1150px) {
  .project__card {
    font-size: 1rem;
    background-color: transparent;
  }
}

.project__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 1250px) {
  .home__background--outer {
    background: linear-gradient(to right, #5969f6 50%, #6bc1ff 50%);
  }
}

.home__background--inner {
  width: 100%;
  background-color: #5969f6;
}
@media (min-width: 720px) {
  .home__background--inner {
    background: url("/header-background.31c1986b.svg");
    background-repeat: no-repeat;
    height: 41.875em;
    background-size: 2224px;
    background-position: calc(50% - -240px) -19px;
  }
}
@media (min-width: 1150px) {
  .home__background--inner {
    background-position: calc(50% - -150px) -19px;
  }
}

.home {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 120px;
}
@media (min-width: 720px) {
  .home {
    align-items: flex-start;
    padding-top: 80px;
  }
}

.home__btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 130px;
  margin-top: 63px;
  margin-bottom: 60px;
}
@media (min-width: 720px) {
  .home__btn-wrapper {
    flex-direction: row;
    height: 0;
    width: 522px;
  }
}

.home__btn {
  width: 12.4375em;
}

.services {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 720px) {
  .services {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
  }
}
@media (min-width: 1150px) {
  .services {
    padding-bottom: 169px;
  }
}

.services__card {
  margin-top: -60px;
  padding-top: 120px;
}
@media (min-width: 720px) {
  .services__card {
    margin-top: 0;
    padding-top: 0;
    font-size: 1.5vw;
  }
}
@media (min-width: 1150px) {
  .services__card {
    font-size: 16px;
  }
}

@media (min-width: 720px) {
  .services__card--top {
    padding-top: 91px;
  }
}

.services__image--paint-roller {
  width: 70%;
  margin-bottom: 1.875em;
}
@media (min-width: 720px) {
  .services__image--paint-roller {
    margin-top: 3.5625em;
    width: 23.5em;
  }
}

.services__image--laptop {
  width: 70%;
  margin-bottom: 3.5em;
}
@media (min-width: 720px) {
  .services__image--laptop {
    margin-top: 9.3125em;
    width: 22.1875em;
  }
}

.services__image--documents {
  width: 70%;
  margin-bottom: 2.125em;
}
@media (min-width: 720px) {
  .services__image--documents {
    margin-top: 4.0625em;
    width: 19.6875em;
  }
}

.testimonials__spacer {
  height: 69px;
  width: 100%;
}
@media (min-width: 720px) {
  .testimonials__spacer {
    height: 0;
  }
}

.testimonials {
  width: 100%;
  background-color: #5969f6;
  position: relative;
  overflow: hidden;
  padding-bottom: 10vw;
}
@media (min-width: 720px) {
  .testimonials {
    height: 650px;
  }
}
@media (min-width: 1150px) {
  .testimonials {
    height: 1038px;
  }
}

.testimonials__container--top {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.testimonials__card {
  padding-top: 50px;
  padding-bottom: 20px;
}
@media (min-width: 720px) {
  .testimonials__card {
    padding-top: 95px;
  }
}

.testimonials__container--bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 720px) {
  .testimonials__container--bottom {
    font-size: 7px;
    flex-direction: row;
    justify-content: space-between;
    width: 146.75em;
    position: absolute;
    top: 44.375em;
    left: calc(50% - 532px);
  }
}
@media (min-width: 1150px) {
  .testimonials__container--bottom {
    font-size: 1rem;
    top: 22.5em;
    left: calc(50% - 1225px);
  }
}

.feedback {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-size: 3vw;
  margin: 40px 0;
}
@media (min-width: 720px) {
  .feedback {
    font-size: 7px;
    flex-direction: row;
    align-items: flex-start;
  }
}
@media (min-width: 1150px) {
  .feedback {
    font-size: 1rem;
  }
}

.feedback__img-wrapper {
  width: 12.5em;
  height: 12.5em;
  margin-bottom: 3.125em;
  border-radius: 9.375em;
  background-color: #faf3f3;
  position: relative;
  overflow: hidden;
}
@media (min-width: 720px) {
  .feedback__img-wrapper {
    width: 5.625em;
    height: 5.625em;
    margin-right: 1.25em;
    border-radius: 3.125em;
  }
}

.fa-user-tie {
  position: absolute;
  color: #6e6b6b;
  font-size: 12.5em;
  left: 0.0625em;
  top: 0.125em;
}
@media (min-width: 720px) {
  .fa-user-tie {
    font-size: 5.625em;
  }
}

.feedback__wrapper {
  max-width: 27.375em;
  padding: 1.875em;
  border-radius: 10px;
  background-color: #ffff;
  position: relative;
}
@media (min-width: 720px) {
  .feedback__wrapper::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 6.25em;
    left: -3.25em;
    border-left: 2.5em solid transparent;
    border-right: 2.5em solid transparent;
    border-bottom: 2.5em solid #ffff;
    transform: rotateZ(45deg);
  }
}

.feedback__header {
  margin: 0;
  font-size: 1.875em;
}

.feedback__subtitle {
  margin: 0;
  font-size: 1.25em;
  color: #5969f6;
}

.feedback__text {
  font-size: 1.25em;
  font-style: italic;
}

.feedback__stars-container {
  display: flex;
  justify-content: space-between;
  width: 7.1875em;
  margin-top: 1.875em;
  margin-bottom: 0.1875em;
  font-size: 1.875em;
  color: #6bc1ff;
}

@media (min-width: 1150px) {
  .dots-container {
    display: flex;
    justify-content: space-between;
    width: 109px;
    position: absolute;
    bottom: 90px;
    left: calc(50% - 56px);
  }
}

@media (min-width: 1150px) {
  .dot {
    width: 17px;
    height: 17px;
    border-radius: 17px;
    background-color: #6bc1ff;
  }
  .dot:nth-child(3) {
    background-color: #ffff;
  }
}

.portfolio {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: -60px;
  padding-top: 90px;
  padding-bottom: 20px;
}
@media (min-width: 720px) {
  .portfolio {
    margin-top: 0;
    padding-top: 60px;
    padding-bottom: 100px;
  }
}
@media (min-width: 1150px) {
  .portfolio {
    padding-top: 132px;
    padding-bottom: 173px;
  }
}

.portfolio__buttons {
  display: none;
}
@media (min-width: 720px) {
  .portfolio__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 78px;
    width: 680px;
  }
}
@media (min-width: 1150px) {
  .portfolio__buttons {
    width: 740px;
  }
}

@media (min-width: 720px) {
  .projects-container {
    font-size: 1.24vw;
    width: 75em;
    height: 89.375em;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(120, 1fr);
    grid-template-rows: repeat(142, 1fr);
    margin: 0 auto;
    padding-top: 4vw;
  }
}
@media (min-width: 1150px) {
  .projects-container {
    font-size: 14.9px;
    grid-gap: 0;
    padding: 0;
    margin-top: 45px;
  }
}
@media (min-width: 1250px) {
  .projects-container {
    font-size: 1rem;
  }
}

.project--candies {
  grid-column-start: 1;
  grid-column-end: 34;
  grid-row-start: 1;
  grid-row-end: 54;
}

.project--rope {
  grid-column-start: 34;
  grid-column-end: 78;
  grid-row-start: 1;
  grid-row-end: 33;
}

.project--doughnut {
  grid-column-start: 78;
  grid-column-end: 122;
  grid-row-start: 1;
  grid-row-end: 69;
}

.project--flower {
  grid-column-start: 34;
  grid-column-end: 78;
  grid-row-start: 33;
  grid-row-end: 69;
}

.project--bowl {
  grid-column-start: 1;
  grid-column-end: 34;
  grid-row-start: 54;
  grid-row-end: 90;
}

.project--shape {
  grid-column-start: 34;
  grid-column-end: 95;
  grid-row-start: 69;
  grid-row-end: 106;
}

.project--blueberries {
  grid-column-start: 95;
  grid-column-end: 122;
  grid-row-start: 69;
  grid-row-end: 106;
}

.project--jellyfish {
  grid-column-start: 1;
  grid-column-end: 34;
  grid-row-start: 90;
  grid-row-end: 126;
}

.project--wall {
  grid-column-start: 1;
  grid-column-end: 34;
  grid-row-start: 126;
  grid-row-end: 142;
}
@media (min-width: 1150px) {
  .project--wall .project__card {
    font-size: 0.5625em;
  }
}

.project--headphones {
  grid-column-start: 34;
  grid-column-end: 69;
  grid-row-start: 106;
  grid-row-end: 142;
}

.project--car {
  grid-column-start: 69;
  grid-column-end: 122;
  grid-row-start: 106;
  grid-row-end: 142;
}

.contact {
  background-color: #5969f6;
}

.contact__container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 5em;
  padding-bottom: 25vw;
}
@media (min-width: 720px) {
  .contact__container {
    padding-top: 3.75em;
    padding-bottom: 3.75em;
  }
}

.contact__card {
  padding-bottom: 3.75em;
}

.form {
  font-size: 3.5vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 37.5em;
  position: relative;
}
@media (min-width: 720px) {
  .form {
    font-size: 10px;
  }
}
@media (min-width: 1150px) {
  .form {
    font-size: 1rem;
  }
}

.form__input,
.form__textarea {
  font-size: inherit;
  width: 100%;
  border: none;
  border-radius: 0.625em;
  padding: 2em 2em 1.5em 2em;
  margin: 1.25em 0;
  color: #6bc1ff;
  outline: none;
}
.form__input::placeholder,
.form__textarea::placeholder {
  font-size: 1.25em;
  color: #6bc1ff;
}
.form__input:focus,
.form__textarea:focus {
  background-color: #ededed;
}

.form__textarea {
  height: 18.125em;
  resize: none;
}

.form__button {
  font-size: 5.625em;
  position: absolute;
  right: 0.125em;
  bottom: -1.0625em;
}
@media (min-width: 720px) {
  .form__button {
    right: -0.5125em;
    bottom: 0.83125em;
  }
}

/*# sourceMappingURL=/styles.434540e1.css.map */