.card {
  font-size: 3vw; // for component resizing
  max-width: em(510);
  margin: 0;

  @include tablet-up {
    font-size: $font-size; // for component resizing
  }
}

.card__header, .card__text {
  color: $color-text;
  margin: 0;
}

.card__header {
  font-size: em(55);
  letter-spacing: em(-0.6);
  padding-bottom: em(3);
}

.card__text {
  font-size: em(20);
}

// **********************************************
// Button
// **********************************************

.btn {
  display: block;
  text-transform: uppercase;
  font-size: em(20);
  font-weight: bold;
  color: $color-text;
  background: transparent;
  border: 1px solid $color-text;
  border-radius: em(20);
  width: em(199);
  padding: em(11) 0;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $color-active;
  }
}

