.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 40px;
}

.game__title {
  color: $color-main;
  margin-top: 20px;
}

.game__time {
  font-size: 35px;
  color: $color-light;
  margin: 5px 0 17px 0;
}

.cards-board {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 3vw;
  width: 95vw;
  height: 95vw;

  @include tablet-up {
    width: 500px;
    height: 500px;
    grid-gap: 10px;
  }
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 95vw;
  height: 120px;
  margin-top: 30px;

  @include tablet-up {
    flex-direction: row;
    justify-content: flex-start;
    width: 480px;
  }
}

.btn {
  border: none;
  border-radius: 5px;
  background-color: $color-main;
  font-size: 20px;
  color: $color-light;
  padding: 7px 14px;
  margin-right: 30px;
  outline: none;
  transition: opacity 0.2s ease;

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.level {
  font-size: 20px;
  color: $color-light;
  background-color: $color-main;
  padding: 6.5px;
  border: none;
  border-radius: 5px;
  outline: none;
}
