.btn {
  display: block;
  text-transform: uppercase;
  font-size: em(20);
  font-weight: bold;
  color: $color-text;
  background-color: transparent;
  border: 1px solid $color-text;
  border-radius: em(20);
  padding: em(11) em(20);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $color-active;
  }
}

.btn--light,
.btn--color {
  transition: background-color 0.3s ease, color 0.3 ease;
  border: none;
}

.btn--light {
  background-color: $color-light-grey;
  color: $color-text-dark;

  &:hover {
    background-color: $color-main;
    color: $color-text;
  }
}

.btn--color {
  background-color: $color-main;
  color: $color-text-dark $color-text;

  &:hover {
    background-color: $color-light-grey;
    color: $color-text-dark;
  }
}
