<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Memory Game</title>
  </head>
  <body>
    <div class="game">
      <h1 class="game__title">Memory Game</h1>
      <p class="game__subtitle">Try to find matching cards</p>
      <div class="cards-board cards-board--easy"></div>
      <button class="btn" data-btn="reset">Reset Game</button>
      <label for="level">Select Level</label>
      <select name="level" id="level">
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="pro">Pro</option>
      </select>
    </div>
  </body>
</html>
