<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Memory Game</title>
  </head>
  <body>
    <div class="game">
      <h1 class="game__title">Memory Game</h1>
      <p class="game__subtitle">Try to find matching cards</p>
      <div class="cards-board cards-board--easy"></div>
      <button class="btn" data-btn="reset">Reset Game</button>
      <button class="btn" data-btn="easy">Easy</button>
      <button class="btn" data-btn="medium">Medium</button>
      <button class="btn" data-btn="pro">Pro</button>
    </div>
  </body>
</html>
